.container {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif; /* Ensures consistency in typography */
    max-width: 1200px;
    margin: auto; /* Centers the container */
  }
  
  .card_contents {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  form input {
    background-color: transparent;
    font-size: 23px;
    border: none;
    width: 178px;
  }
  
  form input:focus {
    border: none;
    outline: none;
  }
  
  form input::placeholder {
    color: black;
    opacity: 0.32;
  }
  
  .container p {
    margin-left: 10px;
    color: red;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    text-align: start;
    background-color: #F0B90B; /* A more vibrant header color */
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    margin-bottom: 20px; /* Added space below the header */
  }
  
  h1 form {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  button {
    height: 50px;
    width: 143px;
    background-color: #AA8508; /* Green color for a positive action indication */
    color: black;
    font-size: 16px; /* Larger font for readability */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Changes cursor to pointer on hover */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Adds shadow for depth */
    transition: all 0.3s; /* Smooth transition for interaction */
  }
  
  button:hover {
    background-color: #775D06; /* Darker shade on hover for feedback */
  }
  
  .card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .bingo-card {
    margin: 10px;
    border: 2px solid #AA8508; /* Thicker, colored border */
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds shadow for depth */
    overflow: hidden; /* Ensures no overflow outside of rounded corners */
  }
  
  .bingo-header {
    display: flex;
    background: #AA8508; /* Header background to match the theme */
    color: black;
  }
  
  .bingo-header-cell, .bingo-cell {
    border-right: 1px solid white; /* White border for contrast */
    flex: 1; /* Flex grow to fill the container */
    text-align: center;
    padding: 15px 0; /* Increased padding for better spacing */
  }
  
  .bingo-header-cell:last-child, .bingo-cell:last-child {
    border-right: none; /* Removes border for the last cell */
  }
  
  .bingo-column {
    display: flex;
  }
  
  .bingo-cell {
    background: #fff;
    transition: background-color 0.3s, transform 0.2s; /* Smooth background color change and subtle "pop" */
  }
  
  .bingo-cell:hover {
    background-color: #E7F5FF; /* Light blue background on hover */
    transform: scale(1.1); /* Slightly scales up cell on hover */
  }
  
  .bingo-card-id {
    padding: 10px;
    background-color: #f2f2f2; /* Light grey background */
    color: #333; /* Dark grey color for contrast */
    font-size: 14px; /* Smaller font size for token display */
  }
  